

.super{
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,4)),url(northenlights.jpg.jpg);
    background-position: center;
    background-size: cover;
    
  
  }